name: Multimodule CI with Docker Compose

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  integration-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up JDK 23
        uses: actions/setup-java@v3
        with:
          java-version: '23'
          distribution: temurin

      - name: Make gradlew executable
        run: chmod +x ./gradlew

      - name: Build all modules without tests
        run: ./gradlew clean build -x test

      - name: Build and start dependencies
        run: docker-compose up -d db rabbitmq userservice cartservice bookingservice documentservice

      - name: Run integration tests in Docker
        run: ./gradlew test
